<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!isAuthenticated()"
        (click)="login()">
        Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="isAuthenticated()"
        (click)="logout()">
        Log Out
      </button>

      <span *ngIf="isAuthenticated() && userProfile">
        <span>Logged in as:
          <img [src]="userProfile.picture" width="40">
          {{userProfile.name }}
        </span>
      </span>

    </div>
  </div>
</nav>


<router-outlet></router-outlet>


